.entry {
    transition: max-height 0.25s ease-in, opacity 0.2s ease-in;
}
.entry-enter {
    max-height: 0;
    opacity: 0;
}

.entry-enter.entry-enter-active {
    max-height: 1000px;
    opacity: 1;
}

.entry-exit {
    max-height: 1000px;
    opacity: 1;
}

.entry-exit.entry-exit-active {
    max-height: 0;
    opacity: 0;
}
