@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900&subset=hebrew,latin-ext');

.journal.closed > * {
    display: none;
}

.journal.closed .journal-name {
    display: block;
}

.journal-name {
    cursor: pointer;
}

.book-scene {
    --cover-width: 200px;
    --cover-height: 300px;
    --book-thickness: 50px;

    width: var(--cover-height);
    /* height: var(--book-thickness); */
    margin: calc(2 * var(--book-thickness)) auto;
    perspective: 500px;
}

.book {
    width: 100%;
    height: var(--book-thickness);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(-1 * var(--cover-width) / 2));
    transition: transform 1s;
}
.book:nth-child(odd) {
    transform: rotateY(20deg);
    z-index: 10;
}
.book:nth-child(even) {
    transform: rotateY(-20deg);
}
.book:hover:nth-child(odd) {
    transform: rotateY(-0.2deg);
}
.book:hover:nth-child(even) {
    transform: rotateY(0.2deg);
}
.book-side {
    background-image: url('/public/assets/black-leather.jpg');
    background-size: 115%;
    position: absolute;
}
.book-left, .book-right {
    width: var(--cover-height);
    height: var(--book-thickness);
    font-size: calc(var(--book-thickness) / 2);
    line-height: var(--book-thickness);
    text-align: center;
}
.book-front, .book-back {
    width: var(--cover-height);
    height: var(--cover-width);
    top: calc(-1 * ((var(--cover-width) / 2) - (var(--book-thickness) / 2)));
}
.book-top, .book-bottom {
    width: var(--cover-width);
    height: var(--book-thickness);
    left: calc((var(--cover-height) / 2) - (var(--cover-width) / 2));
}
.book-left   { transform: rotateY(  0deg) translateZ(calc(var(--cover-width) / 2)); }
.book-right  { transform: rotateY(180deg) translateZ(calc(var(--cover-width) / 2)); }
.book-front  { transform: rotateX( 90deg) translateZ(calc(var(--book-thickness) / 2)); }
.book-back   { transform: rotateX(-90deg) translateZ(calc(var(--book-thickness) / 2)); }
.book-top    { transform: rotateY( 90deg) translateZ(calc(var(--cover-height) / 2)); }
.book-bottom { transform: rotateY(-90deg) translateZ(calc(var(--cover-height) / 2)); }

.pages-top-bottom, .pages-right {
    background: linear-gradient(#000, #555 5%, #000 10%, transparent 10%), linear-gradient(transparent, transparent 90%, #000 90%, #555 95%, #000 100%), repeating-linear-gradient(#333, #333 1px, #ddd 1px, #ddd 2px);
}

.pages-top {
    background: linear-gradient(#000, #555 5%, #000 10%, transparent 10%), linear-gradient(transparent, transparent 90%, #000 90%, #555 95%, #000 100%), linear-gradient(to right, #000, #555 2%, #000 4%, transparent 4%), repeating-linear-gradient(#333, #333 1px, #ddd 1px, #ddd 2px);
}
.pages-bottom {
    background: linear-gradient(#000, #555 5%, #000 10%, transparent 10%), linear-gradient(transparent, transparent 90%, #000 90%, #555 95%, #000 100%), linear-gradient(to left, #000, #555 2%, #000 4%, transparent 4%), repeating-linear-gradient(#333, #333 1px, #ddd 1px, #ddd 2px);
}

.spine {
    color: goldenrod;
    font-family: 'Frank Ruhl Libre';
    font-weight: 900;
    text-shadow: rgba(255, 244, 162, 0.9) 1px 1px 0px, rgba(0, 0, 0, 0.7) -1px -1px 0px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
